<footer class="text-center text-lg-start bg-black text-white">
    <section>
    <div class="container text-center text-md-start mt-5 p-4">
        <div class="row mt-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Company</h6>
            <p>
              <a href="https://company.wego.com/" target="_blank" class="text-reset text-bold">About Wego</a>
            </p>
            <p>
              <a href="https://www.wego.com/press" target="_blank" class="text-reset" >Press</a>
            </p>
            <p>
              <a href="https://company.wego.com/careers" target="_blank" class="text-reset" >Careers</a>
            </p>
            <p>
              <a href="https://company.wego.com/support" target="_blank" class="text-reset">Contact Us</a>
            </p>
        </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Learn More</h6>
            <p>
              <a href="https://company.wego.com/book-on-wego?_gl=1*1skhkt6*_ga*NzE0NDk3NDE4LjE3MTQwNDg0MTc.*_ga_VG6EGRH8EN*MTcxNDY0Njc4NC4xNC4xLjE3MTQ2NDgyNDYuNTguMC4w" target="_blank" class="text-reset">Book on Wego</a>
            </p>
            <p>
              <a class="flex-row" href="https://www.wegopro.com/?utm_source=wego&utm_medium=web&utm_campaign=bottom-nav-bar" target="_blank" class="text-reset">
                <strong>WegoPro</strong> Business Travel 
              </a>
            </p>
            <p>
              <a href="https://company.wego.com/affiliate-program" target="_blank" class="text-reset">Affiliates </a>
            </p>
            <p>
              <a href="https://www.wego.com/advertise" target="_blank" class="text-reset">Advertise</a>
            </p>
            <p>
              <a href="https://company.wego.com/hoteliers" target="_blank" class="text-reset">Hoteliers</a>
            </p>
            <p>
              <a href="https://www.wego.com/privacy" target="_blank" class="text-reset">Data Privacy Policy</a>
            </p>
            <p>
              <a href="https://www.wego.com/terms" target="_blank" class="text-reset">Terms</a>
            </p>
            <p>
              <a href="#" target="_blank" class="text-reset">Cookie Consent</a>
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Explore</h6>
            <p>
                <a href="/en/airports" target="_blank" class="text-reset">Airport Directory</a>
            </p>
            <p>
                <a href="/en/airlines" target="_blank" class="text-reset">Airline Directory</a>
            </p>
            <p>
                <a href="/en/schedules" target="_blank" class="text-reset">Flight Schedules</a>
              </p>
              <p>
                <a href="/en/hotels/chains" target="_blank" class="text-reset">Hotel Chains</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Download</h6>
                <p>
                  <a href="https://wegotravel.onelink.me/pGV9/6e3f482e" target="_blank" class="text-reset">Wego App (iOS)</a>
                </p>
                <p>
                  <a class="text-reset" href="https://wegotravel.onelink.me/pGV9/6e3f482e" target="_blank" class="text-reset">Wego App (Android)</a>
                </p>
              </div>
        </div>      
   </div>
    </section>
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-top border-white">
        <div class="me-5 d-none d-lg-block"><span>&copy; 2025 Wego Pte Ltd</span></div>
  
        <div>
            <a hr ef="https://www.linkedin.com/company/wego-com" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>          
         
            <a href="https://www.facebook.com/Wego.Arabia" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>          
         
            <a href="https://www.twitter.com/WegoArabia" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
          
            <a href="https://www.snapchat.com/add/wegoarabia" class="me-4 text-reset">
                <i class="fab fa-snapchat"></i>
            </a>
         
            <a href="https://www.youtube.com/user/WegoArabia" class="me-4 text-reset">
                <i class="fab fa-youtube"></i>
            </a>
         
            <a href="https://www.instagram.com/wegoarabia" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
          
        </div>
    </section>
</footer>